<div class="main-wrapper">
    <div class="main-section m-5">
        <div class="main-content mb-4 grid grid-cols-2 gap-4">
            <article class="p-6 mx-auto bg-white rounded-xl shadow-lg items-center space-x-">
                <div class="profile-avatar">
                    <%= image_tag "176082.jpg", alt: "profile image", class: "rounded-full xs" %>
                </div>
                <h1 id="introduction" class="pb-2 text-left font-extrabold text-2xl">Hello, I'm
                    <span id="firstName"></span>!</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur. Vestibulum neque et quis
                                                                                                                                          sapien facilisis urna ante. Cursus tortor tempor sed facilisi. Est
                                                                                                                                          tristique consequat eu eget scelerisque mauris. At nibh tortor
                                                                                                                                          viverra tristique quam venenatis aliquet.
                </p>
                <div class="navMain mb-0 mx-auto">
                    <nav>
                        <ul>
                            <li><a href="https://www.linkedin.com/in/malcolm-melbourne/">LinkedIn</a></li>
                            <li><a href="https://github.com/malcolmjr96">GitHub</a></li>
                            <li><a href="https://codeforum.org">CodeForum.org</a></li>
                        </ul>
                    </nav>
                </div>
            </article>

            <article class="p-8 bg-white rounded-xl shadow-lg items-center space-x-">
                <h1 id="my_projects" class="pb-2 text-left font-extrabold text-2xl">My Projects</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur. Vestibulum neque et quis
                                                                                                                                          sapien facilisis urna ante. Cursus tortor tempor sed facilisi. Est
                                                                                                                                          tristique consequat eu eget scelerisque mauris. At nibh tortor
                                                                                                                                          viverra tristique quam venenatis aliquet.
                </p>
                <div class="myProjects">
                    <h2 class="pt-2 text-left font-extrabold text-lg">Current Projects</h2>
                    <ul class="px-4">
                        <li>Code Forum</li>
                    </ul>
                    <h2 class="text-left font-extrabold text-lg">Past Projects</h2>
                    <ul class="px-4">
                        <li>test</li>
                    </ul>
                </div>
            </article>
        </div>



        <div class="mb-0">
            <article class="p-6 bg-white rounded-xl shadow-lg items-center space-x-">
                <h1 id="contact" class="pb-2 text-left font-extrabold text-2xl">Contact</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur. Vestibulum neque et quis
                                                                                                                                          sapien facilisis urna ante. Cursus tortor tempor sed facilisi. Est
                                                                                                                                          tristique consequat eu eget scelerisque mauris. At nibh tortor
                                                                                                                                          viverra tristique quam venenatis aliquet.
                </p>
            </article>
        </div>


        <div class="main-footer relative bottom-0">
            <div class="footer">
                <p class="text-center text-white">Copyright @ 2023 Malcolm</p>
            </div>
        </div>
    </div>
</div>
