@font-face {
    font-family: "Dangrek";
    src: url("./../fonts/Dangrek-Regular.ttf");
  }


* {
    margin:0;
    padding:0;
}

body {
    background-color: red;
    background-image: url(mountains-capture-the-sun-over-lake.jpg);
    background-position-y: 25%;
}

.main-wrapper {
    min-height: 100%;
    justify-content: center;
}

.header-section {
    font-family: Days One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color:#333;
    font-weight:700;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a:hover{
    text-decoration: underline;
    color: #333;
}

.profile-avatar {
    float: right;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

article {
    background-color: orange;
    overflow-y: auto;
}

article h1 {
    color: #000;
}
article p {
    color: #000;
    font-family: Dangrek;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

article ul {
    list-style-type: square;
}
